<h1>Demo#omar</h1>
<p>Find me in app/views/demo/omar.html.erb</p>
<p> hola mi app esta funcionando estoy contento </p>
<img src="../assets/images/work-image3.jpg/" alt="Work 3">
<%= image_tag('work-image3.jpg') %>
<img src="../assets/work-image3.jpg" alt="Smiley face" height="42" width="42">